/***************************Tags********************************/

body {
  width: auto;
  height: auto;
  background-color:  hsl(217, 54%, 11%);
  font-family: 'Outfit', sans-serif;
  Font-size: 1.125rem;
}

main {
  position: relative;
  bottom: 5rem;
  left: 1.875rem;
  width: auto;
  height: auto;
}

p {
  width: 18.125rem;
}

hr {
  background-color: hsl(215, 32%, 27%);
  border-style: none;
  height: 0.0625rem;
  margin-right: 1.875rem;
}

span {
  color: hsl(0, 0%, 100%);
}

/***************************Class********************************/

.card {
  position: relative;
  background-color: hsl(216, 50%, 16%);
  width: 20.625rem;
  height: 35rem;
  margin: 6.25rem auto;
  border-radius: 1rem;
  color: hsl(215, 51%, 70%);
}

.inner-card {
  position: relative;
  width: 20.625rem;
  height: 35rem;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}

.img {
  position: relative;
  top: 0.9375rem;
  width: 18.75rem;
  height: 18.75rem;
  margin-right: 1.25rem;
  border-radius: 0.9375rem;
}

.eye {
  position: absolute;
  bottom: 7.9375rem;
  right: 7.8125rem;
}

.image {
  position: relative;
  top:0;
  display: block;
  width: 18.75rem;
  height: 18.75rem;
  margin-right: 1.25rem;
  border-radius: 0.9375rem;
}

.text {
  position: relative;
  padding-left: 0.1875rem;
  padding-right: 0.75rem;
}

.white {
  position: relative;
  font-size: 1.125rem;
  color: hsl(0, 0%, 100%);
}

.cyan-image {
  display: inline;
}

.cyan {
  display: inline;
  color: hsl(178, 100%, 50%);
}

.days-image {
  display: inline;
  padding-left: 5rem;
}

.days {
  display: inline;

}

.creator {
  margin-top: 1.25rem;
}

.avatar {
  display: inline;
  position: relative;
  border-radius: 50%;
  width:1.875rem;
  border: 0.125rem solid;
  border-color: hsl(0, 0%, 100%);
}

.end {
  display: inline;
  position: relative;
  bottom: 0.5rem;
  padding-left: 0.625rem;

}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  color: hsl(228, 45%, 44%);
  position: relative;
  bottom: 10rem;
  left: 1.875rem;
}

/***************************Hover********************************/

.img:hover {
  cursor: pointer;
  background-color: hsl(178, 100%, 50%);
  opacity: 1;
}

.img:hover .eye{
  opacity: 1;
}

.img:hover .image{
  opacity: 0.5;
}

.white:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}

.jules:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}

 a:hover {
  color: hsl(178, 100%, 50%);
}
